.profile-wrapper{
    color: white;
}

h3{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.user-attr-count{
    margin-left: 17px;
}

.user-attr-name{

}

.back-btn{
    color: blue;
    font-size: 20px;
    /* float: right; */
    cursor: pointer;
    margin-left: 1100px;
}

.post-description-wrapper{
    margin-top: 80px;
    /* float: right; */
}

.follow-btn{
    float: right;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    cursor: pointer;
}