.header-title{
    /* float: left; */
}

.logout-title{
    cursor: pointer;
    float: right;
    color: rgb(115, 159, 234);;
    padding-top: 15px;
    padding-left: 25px;
}

.titles-wrapper{
    width: 100%;
}