.cooknits-wrapper {
  color: white;
}

#file-upload-button {
  background-color: black !important;
  color: cornsilk;
}

.fileInput {
  background-color: rgba(255, 192, 203, 0.5);
  margin-bottom: 20px;
}

.get_nst_btn_wrap {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  display: flex;
  justify-content: center;
}
